@import "tailwindcss";


html,body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  min-width: 320px;
  font-family: "Inter", sans-serif;
}

.background1{
  background-image: url('./assets/prjbg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 13, 189);
  border-radius: 15px;
}
@layer utilities {
  .date-icon-white::-webkit-calendar-picker-indicator {
    filter: invert(1);   /* makes the icon white */
  }
}

.hover-scroll-lg::-webkit-scrollbar {
  height: 0;
}

.hover-scroll-lg:hover::-webkit-scrollbar {
  height: 3px;
}

#about{
  background-image: url('./assets/Backgrounds/smoke.mp4');
}